body{
    background : url(../jchavarria06.github.io/esta.jpg) no-repeat;
    background-size: cover;
   height: 90vh;
    background-position:center;
}
.header{
    margin: -15px;
width: 100%;
background-color: rgba(0, 0, 0, 0.336);

}

h1{
    color: black;
    text-align-last: center;
}
p{
    color: black;
    text-align-last: center;
}
a{
    color: floralwhite;
}